<ul class="thumbnails">
  <li class="span4 product-card" data-ng-repeat="book in books">
    <div data-ng-click="viewBook(book)" class="thumbnail clickable">
      <img class="img-book" data-ng-src={{getBookImage(book.image_url)}} alt="Missing book image">

      <div class="container-details">
        <dl class="book-details">
          <dt>Title:</dt>
          <dd>{{book.title}}</dd>

          <dt>Pages:</dt>
          <dd>{{book.pages}}</dd>

          <dt>Authors:</dt>
          <dd data-ng-repeat="author in book.authors">
            {{author}}
          </dd>

          <dt>Average Rating:</dt>
          <dd>{{book.averageRating}}</dd>

          <dt>Ratings Count:</dt>
          <dd>{{book.ratingsCount}}</dd>

          <dt>Saleability:</dt>
          <dd>{{book.saleability}}</dd>

        </dl>
      </div>
    </div>
  </li>
</ul>

<ul class="pager">
  <li class="previous" data-ng-class="{ disabled: !shouldShowPrevArrow() }" data-ng-click="fetchBooks('prev')">
    <a>&larr; Older</a>
  </li>
  <li class="next" data-ng-click="fetchBooks('next')">
    <a>Newer &rarr;</a>
  </li>
</ul>