<div ng-show="showEditSucess" class="alert admin-alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Livro atualizado com sucesso!</strong>
</div>

<a class="link-back-books" ng-href="/">Voltar para tela inicial</a>

<form class="form-horizontal" ng-submit="editBook(book)">
  <ul class="edit-book">

    <img class="img-book" ng-src={{book.image_url}} alt="book image">

    <li class="edit-book-input">
      <label>Título:</label>
      <input type="text" ng-model="book.title">
    </li>

    <li class="edit-book-input">
      <label>Edição:</label>
      <input type="text" ng-model="book.edition">
    </li>

    <li class="edit-book-input">
      <label>Páginas:</label>
      <input type="text" ng-model="book.pages">
    </li>

    <li class="edit-book-input">
      <input class="btn btn-primary" type="submit" value="Editar livro">
    </li>
  </ul>
</form>
