/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

.github-ribbon {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  z-index: 404
}

.logo-wrapper {
  margin-top: 20px;
  text-align: center;
}

.form-search, .logout {
  margin: 35px 0 0 0;
}

.login {
  margin: auto;
  width: 40%;
}

.admin-alert {
  width: 808px;
  margin: 10px 0 0 8px;
}

.loader, .loader-thumbnail {
  display: none;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .8) url('loader.gif') 50% 50% no-repeat;
}

.loader {
  position: fixed;
}

.loader-thumbnail {
  position: absolute;
}

body.loading {
    overflow: hidden;
}

body.loading .loader {
    display: block;
}

.thumbnails li.loading .loader-thumbnail {
  display: block;
}