.book {
  margin-top: 35px;
}

.container-details {
  min-height: 240px;
}

.book-details {
  margin-left: 15px;
}

li.product-card.principal-book {
  min-height: 620px;
  position: relative;
}

div.principal-book-image {
  float: left;
  margin-left: 15px !important;
}

.thumbnails li.product-card {
  position: relative;
}

li.span4.product-card, .product-card {
  background: none repeat scroll 0 0 #FFFFFF;
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  margin: 0 15px 15px 0;
  width: 276px;
}

.img-book {
  height: 280px;
  width: 236px;
  margin-top: 20px;
}

.thumbnails {
  margin-top: 25px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  display: block;
  line-height: 1;
  padding: 10px;
}

.thumbnail {
  min-height: 640px;
  position: relative;
}

.thumbnail.clickable {
  cursor: pointer;
}

.edit-book-input {
  margin: 0 0 10px 0;
}

.edit-book {
  margin-left: 10px;
  list-style: none;
}

.link-back-books {
  margin: 0 0 0 10px;
}

.prev-book, .next-book {
  position: absolute;
  top: -40%;
  bottom: 0;
  width: 60px;
  opacity: 0;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.prev-book {
  margin-left: 7px;
  left: 0;
  background: transparent url('slider-arrow-left.png') 50% 50% no-repeat;
}

.next-book {
  margin-right: 7px;
  right: 0;
  background: transparent url('slider-arrow-right.png') 50% 50% no-repeat;
}

.thumbnail:hover .prev-book, .thumbnail:hover .next-book {
  opacity: 1;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
