.container-details {
  min-height: 240px;
}

.book-details, .book-actions {
  margin-left: 15px;
  width: 232px;
}

.product-card {
  background: none repeat scroll 0 0 #FFFFFF;
  -moz-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.img-book {
  height: 280px;
  width: 236px;
  margin-top: 20px;
}

.thumbnails {
  margin-top: 25px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  display: block;
  line-height: 1;
  padding: 10px;
}

.thumbnail {
  min-height: 614px;
}

.edit-book-input {
  margin: 0 0 10px 0;
}

.edit-book {
  margin-left: 10px;
  list-style: none;
}
